*{
    margin: 0;
    padding: 0;
    color: white;
}
.container{
    width: 1170px;
}

.body__wrapper{
    margin: 0 auto;
    height: 100vh; /*temp*/
    background-color: #1B1B1B;
}

.params{
    height: 500px;
}

.params__container{
    margin: 0 auto;
    padding: 50px 0;
}

.params__select{
    color: black;
}



.params input{
    color: black;
}

.graphs{
    height: 500px;
}

.graphs__container{
    margin: 0 auto;
    padding: 50px 0;
}

