<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВКР</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" type="image/x-icon" href="../static/imgs/favicon.ico">
</head>
<body>
<div class="predict clearfix">
    <div class="predict__container container clearfix">
        <div class="predict__content ">
            <form action="" method="post" class="predict__form" name="prediction_form">
                <!--КОМАНДА-1-->
                <div class="predict__element">
                    <h2>
                        <label for="team1">Команда 1</label>
                    </h2>
                    <select name="team1" id="team1" class="predict__select" onchange="teamOne()" required>
                        <option value="" class="predict__select">Выберите команду</option>
                        {%for team in teams%}
                        <option value="{{team}}" class="predict__select">{{team}}</option>
                        {%endfor%}
                    </select>
                    <img src="" alt="" class="predict__team1-logo predict__team-logo">
                </div>
                <!--КОМАНДА-2-->
                <div class="predict__element">
                    <h2>
                        <label for="team2">Команда 2</label>
                    </h2>
                    <select name="team2" id="team2" class="predict__select" onchange="teamTwo()" required>
                        <option value="" class="predict__select">Выберите команду</option>
                        {%for team in teams%}
                        <option value="{{team}}" class="predict__select">{{team}}</option>
                        {%endfor%}
                    </select>
                    <img src="" alt="" class="predict__team2-logo predict__team-logo">
                </div>
                <!--КАРТА-->
                <div class="predict__element">
                    <h2>
                        <label for="map">Карта</label>
                    </h2>
                    <select name="map" id="map" class="predict__select" required>
                        <option value="" class="predict__select">Выберите карту</option>
                        {%for map in maps%}
                        <option value="{{map}}" class="predict__select">{{map}}</option>
                        {%endfor%}
                    </select>
                </div>
                <!--SUBMIT-->
                <p>
                    <input type="submit">
                </p>
            </form>
        </div>
    </div>
</div>

<div class="result">
    <div class="result__container container">
        <div class="result__content">
            {%if winner%}
            <div class="result__team1">

            </div>
            <div class="result__team2">

            </div>
            <div class="result__winner">
                <h3>{{winner}}</h3>
                <img src="../static/imgs/logos/{{winner}}.png" alt="{{winner}}"
                     class="result__team-logo" title="{{winner}}">
            </div>
            {%endif%}
        </div>
    </div>
</div>


<div class="graphs">
    <div class="graphs__container container">

    </div>
</div>

<script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>


<script type="text/javascript">
    function teamOne() {
        team1 = document.getElementById('team1')
        team1Image = document.querySelector('.predict__team1-logo')
        team1Image.setAttribute('src', '../static/imgs/logos/' + team1.options[team1.selectedIndex].value + '.png')
        team1Image.setAttribute('alt', team1.options[team1.selectedIndex].value)
        team1Image.setAttribute('title', team1.options[team1.selectedIndex].value)
    }

    function teamTwo() {
        team2 = document.getElementById('team2')
        team2Image = document.querySelector('.predict__team2-logo')
        team2Image.setAttribute('src', '../static/imgs/logos/' + team2.options[team2.selectedIndex].value + '.png')
        team2Image.setAttribute('alt', team2.options[team2.selectedIndex].value)
        team2Image.setAttribute('title', team2.options[team2.selectedIndex].value)

    }

    var csv = require('https://github.com/typeiii/jquery-csv/');
    console.log(csv)

</script>
</body>
</html>