<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ВКР</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" type="image/x-icon" href="../static/imgs/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/semantic.min.css">

    <link rel="stylesheet" href="../static/fullpage/fullpage.min.css">
    <!--    <link rel="stylesheet" href="../static/pagepilling/jquery.pagepiling.min.css">-->


    <!--        <script type="text/javascript" src="../static/fullpage/fullpage.min.js"></script>-->
    <!--        <script type="text/javascript" src="../static/fullpage/fullpage.extensions.min.js"></script>-->


    <!--    <script src="https://kit.fontawesome.com/560f832382.js" crossorigin="anonymous"></script>-->

    {%if winner%}
    <style>
        .result__content:before {
            position: absolute;
            top: 0;
            left: 0;
            opacity: .6;
            z-index: -1;
            content: url("../static/imgs/map_img/{{map}}.jpg");
            /*content: url("../static/imgs/map_img/Mirage.jpg");*/
        }
    </style>
    {%endif%}
</head>
<body>
<div class="banner off">
    <div class="banner__container">
        <div class="banner__content">
            <h2 class="banner__title">ВНИМАНИЕ!</h2>
            <p class="banner__body">Названия команд должны отличаться!</p>
            <button class="banner__button">ОК</button>
        </div>
    </div>
</div>
<div id="fullpage">
    <div class="predict clearfix section">
        <div class="predict__container stick1 container clearfix">
            <div class="predict__content ">
                <form action="/" method="post" class="predict__form clearfix" id="predict__form"
                      name="prediction__form">
                    <!--КОМАНДА-1-->
                    <div class="predict__element clearfix">
                        <h2 class="clearfix">
                            <span>Команда 1</span>
                        </h2>
                        <div class="ui modal" id="team1Modal">
                            <div class="header" style="text-align: center">Команда 1</div>
                            <div class="content">
                                <input type="text" class="ui input" id="team1Filter">
                                <button class="ui button" id="team1FilterOk">Подтвердить</button>
                            </div>
                            <div class="scrolling content">
                                <div class="elements">
                                    {%for team in new_teams%}
                                    <div data-name="{{team['teamName']}}" class="element"
                                         data-player1Name="{{team['player1']['name']}}"
                                         data-player1img="{{team['player1']['imgURI']}}"
                                         data-player2Name="{{team['player2']['name']}}"
                                         data-player2img="{{team['player2']['imgURI']}}"
                                         data-player3Name="{{team['player3']['name']}}"
                                         data-player3img="{{team['player3']['imgURI']}}"
                                         data-player4Name="{{team['player4']['name']}}"
                                         data-player4img="{{team['player4']['imgURI']}}"
                                         data-player5Name="{{team['player5']['name']}}"
                                         data-player5img="{{team['player5']['imgURI']}}">
                                        {%if team['teamLogo'][0] == '/'%}
                                        <img src="https://www.hltv.org{{team['teamLogo']}}"
                                             data-name="{{team['teamName']}}" alt="">
                                        {%else%}
                                        <img src="{{team['teamLogo']}}" data-name="{{team['teamName']}}" alt="">
                                        {%endif%}
                                        <h3 style="text-align: center">{{team['teamName']}}</h3>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="team1_choose" class="ui button">Выбрать команду</button>
                        </div>
                        <input type="text" name="team1" id="team1" hidden required>
                        <input type="text" name="team1p1" id="team1p1" hidden required>
                        <input type="text" name="team1p2" id="team1p2" hidden required>
                        <input type="text" name="team1p3" id="team1p3" hidden required>
                        <input type="text" name="team1p4" id="team1p4" hidden required>
                        <input type="text" name="team1p5" id="team1p5" hidden required>
                        <div class="predict__selected-team-logo">
                            <img src="" alt="" class="predict__team1-logo predict__team-logo">
                            <p id="predict__team1-name"></p>
                        </div>
                        <div id="team1_squad" style="display: none" class="team_squad">
                            <div class="team_member" id="team1_member1">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team1_member2">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team1_member3">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team1_member4">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team1_member5">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                        </div>
                    </div>
                    <!--КАРТА-->
                    <div class="predict__element clearfix">
                        <h2 class="clearfix">
                            <span>Карта</span>
                        </h2>
                        <div class="ui modal" id="mapModal">
                            <div class="header" style="text-align: center">Карта</div>
                            <div class="content">
                                <input type="text" class="ui input" id="mapFilter">
                                <button class="ui button" id="mapFilterOk">Подтвердить</button>
                            </div>
                            <div class="scrolling content">
                                <div class="elements">
                                    {%for map in maps%}
                                    <div data-name="{{map}}" class="element">
                                        <img src="../static/imgs/map_logos/{{map}}.png" data-name="{{map}}" alt="">
                                        <h3 style="text-align: center">{{map}}</h3>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="map_choose" class="ui button">Выбрать карту</button>
                        </div>
                        <input type="text" name="map" id="map" hidden required>
                        <div class="predict__selected-map-logo">
                            <img src="" alt="" id="predict__map-logo" class="predict__map-logo">
                            <p id="predict__map-name"></p>
                        </div>
                    </div>
                    <!--КОМАНДА-2-->
                    <div class="predict__element clearfix">
                        <h2 class="clearfix">
                            <span>Команда 2</span>
                        </h2>

                        <div class="ui modal" id="team2Modal">
                            <div class="header" style="text-align: center">Команда 2</div>
                            <div class="content">
                                <input type="text" class="ui input" id="team2Filter">
                                <button class="ui button" id="team2FilterOk">Подтвердить</button>
                            </div>
                            <div class="scrolling content">
                                <div class="elements">
                                    <!--                                    {%for team in teams%}-->
                                    <!--                                    <div data-name="{{team}}" class="element">-->
                                    <!--                                        <img src="../static/imgs/logos/{{team}}.png" data-name="{{team}}" alt="">-->
                                    <!--                                        <h3 style="text-align: center">{{team}}</h3>-->
                                    <!--                                    </div>-->
                                    <!--                                    {%endfor%}-->
                                    {%for team in new_teams%}
                                    <div data-name="{{team['teamName']}}" class="element"
                                         data-player1Name="{{team['player1']['name']}}"
                                         data-player1img="{{team['player1']['imgURI']}}"
                                         data-player2Name="{{team['player2']['name']}}"
                                         data-player2img="{{team['player2']['imgURI']}}"
                                         data-player3Name="{{team['player3']['name']}}"
                                         data-player3img="{{team['player3']['imgURI']}}"
                                         data-player4Name="{{team['player4']['name']}}"
                                         data-player4img="{{team['player4']['imgURI']}}"
                                         data-player5Name="{{team['player5']['name']}}"
                                         data-player5img="{{team['player5']['imgURI']}}">
                                        {%if team['teamLogo'][0] == '/'%}
                                        <img src="https://www.hltv.org{{team['teamLogo']}}"
                                             data-name="{{team['teamName']}}" alt="">
                                        {%else%}
                                        <img src="{{team['teamLogo']}}" data-name="{{team['teamName']}}" alt="">
                                        {%endif%}
                                        <h3 style="text-align: center">{{team['teamName']}}</h3>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="team2_choose" class="ui button">Выбрать команду</button>
                        </div>
                        <input type="text" name="team2" id="team2" hidden required>
                        <input type="text" name="team2p1" id="team2p1" hidden required>
                        <input type="text" name="team2p2" id="team2p2" hidden required>
                        <input type="text" name="team2p3" id="team2p3" hidden required>
                        <input type="text" name="team2p4" id="team2p4" hidden required>
                        <input type="text" name="team2p5" id="team2p5" hidden required>
                        <div class="predict__selected-team-logo">
                            <img src="" alt="" class="predict__team2-logo predict__team-logo">
                            <p id="predict__team2-name"></p>
                        </div>
                        <div id="team2_squad" style="display: none" class="team_squad">
                            <div class="team_member" id="team2_member1">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team2_member2">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team2_member3">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team2_member4">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                            <div class="team_member" id="team2_member5">
                                <img src="../static/imgs/temp.png" alt="">
                                <p class="team_member-name">test</p>
                            </div>
                        </div>
                    </div>
                    <!--SUBMIT-->
                    <div>
                        <input type="submit" class="predict__submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {%if winner%}
    <div class="result slide abs section" id="res">
        <div class="result__background-versus">
            <img src="../static/imgs/sword.png" alt="">
            <img src="../static/imgs/sword-left.png" alt="">
        </div>

        <div class="result__container container">
            <div class="result__content clearfix">
                <div class="result__entered-data clearfix">
                    <div class="result__entered-data-teams">
                        <div class="result__team1 result__block">
                            {#
                            <img src="../static/imgs/logos/{{team1}}.png" alt="{{team1}}" class="result__team-logo">
                            #}
                            <img src="{{teams_winner[team1]['teamLogo']}}" alt="{{team1}}" class="result__team-logo">
                            <h3>{{team1}}</h3>
                            {%if team1==winner%}
                            <img src="../static/imgs/trophy.png" alt="" class="result__trophy left-trophy">
                            {%endif%}
                        </div>
                        <div class="result__team2 result__block">
                            <img src="{{teams_winner[team2]['teamLogo']}}" alt="{{team2}}" class="result__team-logo">
                            <h3>{{team2}}</h3>
                            {%if team2==winner%}
                            <img src="../static/imgs/trophy.png" alt="" class="result__trophy right-trophy">
                            {%endif%}
                        </div>
                    </div>
                </div>
                <!--            <div class="result__entered-data clearfix">-->
                <!--                <div class="result__map">-->
                <!--                    <img src="../static/imgs/map_logos/{{map}}.png" alt="{{map}}" class="result__team-logo">-->
                <!--                    <h3>{{map}}</h3>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--            <h2 class="result__entered-data-title result__winner-title">Победитель:</h2>-->
                <!--            <div class="result__winner">-->
                <!--                <img src="../static/imgs/logos/{{winner}}.png" alt="{{winner}}"-->
                <!--                     class="result__team-logo" title="{{winner}}">-->
                <!--                <h3>{{winner}}</h3>-->
                <!--            </div>-->
            </div>
        </div>
    </div>
    <div class="slide last abs section">
        <div class="stick3">
            <div class="choose-graph-style">
                <div class="choose-graph-style__container container">
                    <h2>Выберите вид гистограммы:</h2>
                    <div class="choose-graph-style__box">
                        <input type="radio" id="common" name="radio" checked onchange="change()">
                        <label for="common">Гистограмма с группировкой</label>

                        <input type="radio" id="stacked" name="radio" onchange="change()">
                        <label for="stacked">Вложеная гистограмма</label>
                    </div>
                </div>
            </div>

            <div class="graphs">
                <div class="graphs__container container">
                    <div class="graphs__content">
                        <div class="graphs__team1">
                            <canvas id="team1__graph"></canvas>
                        </div>
                        <div class="graphs__team2">
                            <canvas id="team2__graph"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script title="Graphs" type="text/javascript">

        function buildFromDB(team, canvasID) {
            let matchesJSON_unordered = {{}};
            let winsJSON_unordered = request_w.response;
            //матчи
            const matchesJSON = {};
            Object.keys(matchesJSON_unordered).sort().forEach(function (key) {
                matchesJSON[key] = matchesJSON_unordered[key];
            });
            //победы
            const winsJSON = {};
            Object.keys(winsJSON_unordered).sort().forEach(function (key) {
                winsJSON[key] = winsJSON_unordered[key];
            });
            let matches = Object.values(matchesJSON);
            let wins = Object.values(winsJSON);
            let stacked = document.getElementById('stacked').checked

            var ctx = document.getElementById(canvasID).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(matchesJSON),
                    datasets: [
                        {
                            label: 'Количество побед команды ' + team,
                            backgroundColor: 'rgba(65, 105, 225, 1)',
                            data: wins,
                        },
                        {
                            label: 'Количество матчей команды ' + team,
                            backgroundColor: 'rgba(255, 99, 132, 1)',
                            data: matches,
                        },]
                },
                options: {
                    scales: {
                        xAxes: [{
                            stacked: stacked,
                            gridLines: {
                                color: '#fffff0',
                            },
                            ticks: {
                                fontColor: '#ffffff'
                            }
                        }],
                        yAxes: [{
                            stacked: false,
                            ticks: {
                                fontColor: '#ffffff'
                            },
                            gridLines: {
                                color: '#fffff0',
                            },

                        }],
                    },
                    legend: {
                        labels: {
                            fontColor: '#ffffff'
                        }
                    }
                }
            });
        }

        function build(team, canvasID) {
            let path_matches = ' ../static/jsons/' + team + '_matches.json';
            let path__wins = '../static/jsons/' + team + '_wins.json';
            let request_m = new XMLHttpRequest();
            request_m.open('GET', path_matches);
            request_m.responseType = 'json';
            request_m.send();
            request_m.onload = function () {
                let request_w = new XMLHttpRequest();
                request_w.open('GET', path__wins);
                request_w.responseType = 'json';
                request_w.send();
                request_w.onload = function () {
                    let matchesJSON_unordered = request_m.response;
                    let winsJSON_unordered = request_w.response;
                    //матчи
                    const matchesJSON = {};
                    Object.keys(matchesJSON_unordered).sort().forEach(function (key) {
                        matchesJSON[key] = matchesJSON_unordered[key];
                    });
                    //победы
                    const winsJSON = {};
                    Object.keys(winsJSON_unordered).sort().forEach(function (key) {
                        winsJSON[key] = winsJSON_unordered[key];
                    });
                    let matches = Object.values(matchesJSON);
                    let wins = Object.values(winsJSON);
                    let stacked = document.getElementById('stacked').checked

                    var ctx = document.getElementById(canvasID).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(matchesJSON),
                            datasets: [
                                {
                                    label: 'Количество побед команды ' + team,
                                    backgroundColor: 'rgba(65, 105, 225, 1)',
                                    data: wins,
                                },
                                {
                                    label: 'Количество матчей команды ' + team,
                                    backgroundColor: 'rgba(255, 99, 132, 1)',
                                    data: matches,
                                },]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    stacked: stacked,
                                    gridLines: {
                                        color: '#fffff0',
                                    },
                                    ticks: {
                                        fontColor: '#ffffff'
                                    }
                                }],
                                yAxes: [{
                                    stacked: false,
                                    ticks: {
                                        fontColor: '#ffffff'
                                    },
                                    gridLines: {
                                        color: '#fffff0',
                                    },

                                }],
                            },
                            legend: {
                                labels: {
                                    fontColor: '#ffffff'
                                }
                            }
                        }
                    });
                }
            }
        }

        function change() {
            // $('#team1__graph').attr('id', 'team1__graph1')
            $('#team1__graph').remove();
            $('.graphs__team1').append('<canvas id="team1__graph"><canvas>');

            // $('#team2__graph').attr('id', 'team2__graph2')
            $('#team2__graph').remove();
            $('.graphs__team2').append('<canvas id="team2__graph"><canvas>');

            build('{{team1}}', 'team1__graph');
            build('{{team2}}', 'team2__graph');
        }

        window.onresize = function (event) {
            // $('#team1__graph').attr('id', 'team1__graph1')
            $('#team1__graph').remove();
            $('.graphs__team1').append('<canvas id="team1__graph"><canvas>');

            // $('#team2__graph').attr('id', 'team2__graph2')
            $('#team2__graph').remove();
            $('.graphs__team2').append('<canvas id="team2__graph"><canvas>');

            build('{{team1}}', 'team1__graph');
            build('{{team2}}', 'team2__graph');
        };

        build('{{team1}}', 'team1__graph');
        build('{{team2}}', 'team2__graph');
    </script>
    {%endif%}
</div>

<script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
<!--<script type="text/javascript" src="../static/pagepilling/jquery.pagepiling.min.js"></script>-->
<script type="text/javascript" src="../static/fullpage/fullpage.min.js"></script>
<script src="../static/js/Chart.min.js"></script>

<script type="text/javascript" src="../static/js/semantic.min.js"></script>

<script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>
<script>
    $(document).ready(() => {
        setTimeout(() => {
            $(".result__team1").attr("style", "display:block");
            $(".result__team2").attr("style", "display:block");
        }, 4500)

        setTimeout(() => {
            $(".result__trophy").attr("style", "display:block");
        }, 5200)

        // $('body').bind('beforeunload', function (e) {
        //     alert("refresh")
        // })

        // $(window).bind('beforeunload', function () { //temp
        //     window.scrollTo({
        //         top: 0,
        //         behavior: 'smooth',
        //     });
        //     return 'are you sure you want to leave?';
        // });

        $('.ui.dropdown').dropdown({fullTextSearch: true});

        $("#fullpage").fullpage({
            // anchors: ['Предсказание', "Результат", "Графики"],
        });

        $("#team1_choose").on('click', function (e) {
            e.preventDefault();
            $("#team1Modal.ui.modal").modal('show');
        });

        $("#team2_choose").on('click', function (e) {
            e.preventDefault();
            $("#team2Modal.ui.modal").modal('show');
        });

        $("#map_choose").on('click', function (e) {
            e.preventDefault();
            $("#mapModal.ui.modal").modal('show');
        });

        $("#team1Filter").keyup(function () {
            let input_val = $("#team1Filter").val().toLowerCase();
            $("#team1Modal.ui.modal .element").removeClass('hide');
            $("#team1Modal.ui.modal .element").each(function (index) {
                let team = $(this).data("name").toString().toLowerCase();
                if (team.indexOf(input_val) == -1) {
                    // console.log(team + " net")
                    $(this).addClass("hide").removeClass('vis');
                } else {
                    // console.log(team + ' yest')
                    // $(this).parents(".phone_department").addClass("show_dept");
                    $(this).removeClass('hide').addClass('vis');
                }
            });
        });

        $("#team1FilterOk").on('click', function (e) {
            e.preventDefault();

            if ($("#team1Modal.ui.modal .element.choosen").length === 1) {
                $('.predict__team1-logo').attr('src', $("#team1Modal.ui.modal .element.choosen img")[0].src)
                $(".ui.modal").modal('hide');
                $("#team1").val($("#team1Modal.ui.modal .element.choosen").data('name'));
                $("#team1_choose").addClass("modalSelected");
                $("#predict__team1-name").text($("#team1Modal.ui.modal .element.choosen").data('name'));
                $("#team1_squad").show();

                $("#team1_member1 img")[0].src = $("#team1Modal.ui.modal .element.choosen").data('player1img');
                $("#team1_member1 p").text($("#team1Modal.ui.modal .element.choosen").data('player1name'));
                $("#team1p1").val($("#team1Modal.ui.modal .element.choosen").data('player1name'));

                $("#team1_member2 img")[0].src = $("#team1Modal.ui.modal .element.choosen").data('player2img');
                $("#team1_member2 p").text($("#team1Modal.ui.modal .element.choosen").data('player2name'));
                $("#team1p2").val($("#team1Modal.ui.modal .element.choosen").data('player2name'));

                $("#team1_member3 img")[0].src = $("#team1Modal.ui.modal .element.choosen").data('player3img');
                $("#team1_member3 p").text($("#team1Modal.ui.modal .element.choosen").data('player3name'));
                $("#team1p3").val($("#team1Modal.ui.modal .element.choosen").data('player3name'));

                $("#team1_member4 img")[0].src = $("#team1Modal.ui.modal .element.choosen").data('player4img');
                $("#team1_member4 p").text($("#team1Modal.ui.modal .element.choosen").data('player4name'));
                $("#team1p4").val($("#team1Modal.ui.modal .element.choosen").data('player4name'));

                $("#team1_member5 img")[0].src = $("#team1Modal.ui.modal .element.choosen").data('player5img');
                $("#team1_member5 p").text($("#team1Modal.ui.modal .element.choosen").data('player5name'));
                $("#team1p5").val($("#team1Modal.ui.modal .element.choosen").data('player5name'));
            } else {
                alert("Команда не выбрана");
            }
        });

        $("#team2Filter").keyup(function () {
            let input_val = $("#team2Filter").val().toLowerCase();
            $("#team2Modal.ui.modal .element").removeClass('hide');
            $("#team2Modal.ui.modal .element").each(function (index) {
                let team = $(this).data("name").toString().toLowerCase();
                if (team.indexOf(input_val) == -1) {
                    // console.log(team + " net")
                    $(this).addClass("hide").removeClass('vis');
                } else {
                    // console.log(team + ' yest')
                    // $(this).parents(".phone_department").addClass("show_dept");
                    $(this).removeClass('hide').addClass('vis');
                }
            });
        });

        $("#team2FilterOk").on('click', function (e) {
            e.preventDefault();

            if ($("#team2Modal.ui.modal .element.choosen").length === 1) {
                $('.predict__team2-logo').attr('src', $("#team2Modal.ui.modal .element.choosen img")[0].src)
                $(".ui.modal").modal('hide');
                $("#team2").val($("#team2Modal.ui.modal .element.choosen").data('name'));
                $("#team2_choose").addClass("modalSelected");
                $("#predict__team2-name").text($("#team2Modal.ui.modal .element.choosen").data('name'));
                $("#team2_squad").show();

                $("#team2_member1 img")[0].src = $("#team2Modal.ui.modal .element.choosen").data('player1img');
                $("#team2_member1 p").text($("#team2Modal.ui.modal .element.choosen").data('player1name'));
                $("#team2p1").val($("#team2Modal.ui.modal .element.choosen").data('player1name'));

                $("#team2_member2 img")[0].src = $("#team2Modal.ui.modal .element.choosen").data('player2img');
                $("#team2_member2 p").text($("#team2Modal.ui.modal .element.choosen").data('player2name'));
                $("#team2p2").val($("#team2Modal.ui.modal .element.choosen").data('player2name'));

                $("#team2_member3 img")[0].src = $("#team2Modal.ui.modal .element.choosen").data('player3img');
                $("#team2_member3 p").text($("#team2Modal.ui.modal .element.choosen").data('player3name'));
                $("#team2p3").val($("#team2Modal.ui.modal .element.choosen").data('player3name'));

                $("#team2_member4 img")[0].src = $("#team2Modal.ui.modal .element.choosen").data('player4img');
                $("#team2_member4 p").text($("#team2Modal.ui.modal .element.choosen").data('player4name'));
                $("#team2p4").val($("#team2Modal.ui.modal .element.choosen").data('player4name'));

                $("#team2_member5 img")[0].src = $("#team2Modal.ui.modal .element.choosen").data('player5img');
                $("#team2_member5 p").text($("#team2Modal.ui.modal .element.choosen").data('player5name'));
                $("#team2p5").val($("#team2Modal.ui.modal .element.choosen").data('player5name'));
            } else {
                alert("Команда не выбрана");
            }
        });

        $("#mapFilter").keyup(function () {
            let input_val = $("#mapFilter").val().toLowerCase();
            $("#mapModal.ui.modal .element").removeClass('hide');
            $("#mapModal.ui.modal .element").each(function (index) {
                let team = $(this).data("name").toString().toLowerCase();
                if (team.indexOf(input_val) == -1) {
                    // console.log(team + " net")
                    $(this).addClass("hide").removeClass('vis');
                } else {
                    // console.log(team + ' yest')
                    // $(this).parents(".phone_department").addClass("show_dept");
                    $(this).removeClass('hide').addClass('vis');
                }
            });
        });

        $("#mapFilterOk").on('click', function (e) {
            e.preventDefault();

            if ($("#mapModal.ui.modal .element.choosen").length === 1) {
                $('.predict__map-logo').attr('src', $("#mapModal.ui.modal .element.choosen img")[0].src)
                $(".ui.modal").modal('hide');
                $("#map").val($("#mapModal.ui.modal .element.choosen").data('name'));
                $("#map_choose").addClass("modalSelected");
                $("#predict__map-name").text($("#mapModal.ui.modal .element.choosen").data('name'));
            } else {
                alert("Команда не выбрана");
            }
        });

        $(".element").on('click', function () {
            if (!$(this).hasClass('choosen')) $('.element').removeClass('choosen');
            // console.log($(this))
            $(this).toggleClass('choosen');
        })

        $('#predict__form').submit(function (e) {
            let team1 = $("#team1").val();
            let team2 = $("#team2").val();

            if (team1 !== team2) {
                return true;
            } else {
                $(".banner").toggleClass('on').toggleClass('off');
                return false;
            }
        });
        $(".predict__submit").on('click', function (e) {
            e.preventDefault();
            $('#predict__form').submit();
        });

        $(".banner__button").on('click', function (e) {
            e.preventDefault();
            $(".banner").toggleClass('on').toggleClass('off');
        });

    });
</script>
</body>
</html>